<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
    <button 
      type="button" 
      class="btn-close" 
      aria-label="Close" 
      (click)="setCloseModal(false)"
    ></button>
  </div>
  
  <div class="modal-body">
    <div *ngIf="listErrors.length">
  
      <div *ngFor="let error of listErrors" class="alert alert-danger" role="alert">
        * {{ error }}
      </div>
    </div>
  
    <form [formGroup]="_NameForm">
      <div class="mb-3">
        <label for="name">Nome</label>
        <div class="input-group">
          <input 
            id="name" 
            class="form-control" 
            placeholder="Digite o nome aqui"
            formControlName="name"
            required
          />
        </div>
      </div>  
    </form>
  </div>
  
<div class="modal-footer">
    <button 
        type="button" 
        class="btn btn-primary" 
        (click)="validateForms()"
    >
        {{ titleButton }}
    </button>
</div>